@use '../variables' as v;

body {
  font-family: v.$font-base;
  font-size: v.$font-size-base;
  line-height: v.$line-height-base;
  color: v.$color-text;
}

a { color: v.$color-primary; text-decoration: none; }
a:hover { text-decoration: underline; }

::selection { background: rgba(v.$color-primary, 0.2); }